@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Pacifico&family=Roboto&family=Ubuntu&display=swap");

/* .active {
  border: 10px solid green;
} */

.cont {
  text-align: center;
}

.filter_buttons {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-around;
  margin-top: 5rem;
}

.list_view_button,
.grid_view_button {
  border: 1px solid white;
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 3px;
}

.list_view_button:hover,
.grid_view_button:hover {
  background: black;
  color: white;
}

.list_view_button {
  margin-right: 10px;
}

.container {
  display: flex;
}

.main_content {
  flex: 4;
  position: absolute;
  padding: 20px;
  left: 27.5vw; 
  right: 10vw;
  text-align: center;
  z-index: -50;
  width: 60vw;
  margin: 0 auto;
}

.view_container{
  margin-top: 5rem;
}

.instagram_divider {
  border: none;
  height: 2px;
  width: 700px;
  background-image: linear-gradient(to right, #ff6868, #ff6868 16%, #fe9448 16%, #fe9448 32%, #ffe548 32%, #ffe548 48%, #47cf73 48%, #47cf73 64%, #55b9f5 64%, #55b9f5 80%, #ac6dfb 80%);
  background-size: 500% 100%;
  background-position: right bottom;
  animation: gradient-flow 2s infinite;
}

@keyframes gradient-flow {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: right bottom;
  }
}

.view{
  width: 7rem;
}

.view p{
  font-family: 'Montserrat';
  font-weight: 900;
  color: purple;
}

.loader{
  margin: 0 auto;
}

.error{
  margin: 0 auto;
  font-family: "Montserrat";
}

.error h1{
  color: #dc3d08;
}
.error h2{
  color: #ff6868;
}

.loader h3{
  font-family: "Montserrat";
  color: rgb(68, 13, 86);
  font-weight: 800;

}

@media screen and (max-width: 768px) {
  .main_content{
    left: 0;
    right: 0;
    /* width: 100vw; */
    margin: 0 auto;
  }
  .instagram_divider{
    width: 60vw;
    margin: 2rem auto;
  }
  .cont{
    width: 200vw;
  }
  .filter_buttons{
    width: 100%;
    font-size: 2.5rem;
  }
}