@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Pacifico&family=Roboto&family=Ubuntu&display=swap");

.container{
    display: flex;
    flex-direction: row;
    margin: 1rem auto;
    width: 30rem;
    justify-content: space-between;
}

.description_container{
    flex: 4;
    text-align: left;
    line-height: 0cqmin;
}

.description_container span{
    color: gray;
    font-weight: 100;
}

.description_container h3{
    color: black;
    font-family: "Montserrat";
}

.image_container{
    flex: 1;
}

.image_container img{
    width: 60px;
    height: 60px;
    border: 5px rgb(79, 48, 137) solid;
    border-radius: 50%;
}

.link_element{
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .container{
        width: 90%;
        height: 10rem;
    }

    .image_container img{
        height: 10rem;
        width: 10rem;
    }

    .description_container{
        font-size: 3rem;
    }
  }
